.text_catalog{
    top: 0px;
    position: fixed;
    
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    height: 60px;
    
   
    display: flex;
    
}
.text_catalog > ul{
    width: 100px;
    height: 80%;
    margin-right: 7%;
   
    
}
.button_filt{
    background-color: #00ffff;
    cursor: pointer;
    padding: 5px;
    border-radius: 0px 20px 20px 0px;
    color: black;
}
.text_catalog > ul > li{
    display: none;
    float: right;
    background-color: #353434;
    width: 40px;
    padding: 10px 50px 10px 50px;
}
.text_catalog > ul > li:hover{
    background-color: #272626;
}
.text_catalog > ul:hover > li{
    display: block;
    
}
.Add_Prod{
    padding: 10px 2px;
    border: 2px solid green;
    background-color: #67ac21;
}
.text_catalog > div {
    
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
}
.text_catalog > div:first-child {
    
    margin-left: auto;
    
}
.katalog{
    
    margin-top: 340px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1b1b1b;
    width: 414px;
    
}
.katalog_item_price {
    margin-left: 10px;
    font-size: 20px;
}
.katalog_item_buy {
    
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    margin-left: 72%;
    margin-top: 25%;
    color: black;
    width: 90px;
    height: 50px;
    border-radius: 20px;
    background-color: #00ffff;
}
@media (min-width: 1200px) {
    .katalog{
        
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        background-color: #1b1b1b;
        width: 1200px;
        
    }
    .katalog_item{
        background-color: #353434;
        width: 260px;
        height: 300px;
        
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 20px;
        
        
    }
}
.Filters{
    background-color: black;
    margin-top: 10%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    
}
.Categ{
    
    padding: 30px;
    height: 40px;
    width: 100%;
    
    
}

.Categ > input{
    margin-left: 2%;
    margin-right: 2%;
    background-color: #353434;
    height: 80%;
    font-size: 25px;
    width: 20%;
    border: 2px solid #0ea3a3;;
    outline: none;
}
.Categ > select{
    margin: 0px auto  0px auto;
    margin-left: 2%;
    border: 2px solid #0ea3a3;;
    width: 200px;
    height: 80%;
    background-color: #353434;
    color: white;
    outline: none;
    
}
.result{
    height: 80%;
    float: left;
    border-radius: 20px;
    background-color: #00ffff;
    width: 10%;
    margin: 0px auto 0px auto;
}
